<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Co na obiad</title>
    <script src="../../../js/jquery-3.2.1.min.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../../css/bootstrap.css">
    <link rel="stylesheet" href="../../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../../css/style.css">
    {% block scripts %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Co na obiad?</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Strona główna</a></li>
                <li><a href="/add">Dodaj</a></li>
                <li><a href="/list">Lista</a></li>
                <li><a href="/random">Losuj</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>
